$primary: #1876d1;
$primary-hover: #448aff;
$background: #fafafa;
$shadow: 0 1px 5px 0 #223c5033;
$error: #f32d2d;
$error-hover: #ff5656;
$white: #fff;
$white-hover: #eee;

$font-size-basic: 18px;
$font-size-subtitle: 24px;

$font-color-title: #04080e;
$font-color-subtitle: #6c6c6c;
$font-color-text: #b3b4b6;

$transition: all 0.4s ease-in-out;

$button-disabled-bg: #d6d6d6;
$button-disabled-color: #a0a0a0;

$mobile-size: 576px;
$tablet-size: 768px;
$laptop-size: 992px;
$desktop-size: 1200px;

$border-radius-small: 4px;
$border-radius-big: 10px;
