$primary:#1876d1;
$background: #fafafa;
$shadow: 0 1px 5px 0 rgb(34 60 80 / 20%);
$error: #f32d2d;

$font-size-basic: 18px;
$font-size-subtitle: 24px;

$font-color-title: #04080e;
$font-color-subtitle: #6c6c6c;
$font-color-text: #b3b4b6;
